/*This file is used for the animation seen in the home and about page*/


.BannerAnimation {
    margin-top: calc(var(--topbar-height) * 2.3);
    position: absolute;
    width: 100%;
    height: inherit;
}

.AnimationRow {
    display: flex;
    width: 100%;
    height: 25%;
    margin: 5px 0px 8px 0px;
}

.AnimationBox {
    position: absolute;
    height: inherit;
    aspect-ratio: 1 / 1;
    background: #00007730;
    backdrop-filter: blur(3px);
    border: 1px solid var(--topbar-bor-color);
    border-radius: 15px;
}

.AnimationBox img {
    width: 100%;
    padding: 5px;
}