.Banner {
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.Banner img {
    width: 100%;
    filter: drop-shadow(0px 0px 5px black);
}

.BannerGlass {
    position: absolute;
    mask: radial-gradient(circle, transparent, black 80%);
}

@keyframes AnimationFade {
  0% {background: #881a1a;}
  25% {background: #1a883f;}
  50% {background: #1a4188;}
  75% {background: #88741a;}
  100% {background: #881a1a;}
}

.BannerContent {
    position: absolute;
    width: 100%;
    height: inherit;
    mask: radial-gradient(circle, black 20%, #00000011 50%, #00000077 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: AnimationFade;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

.BannerNamePlate {
    margin-top: var(--topbar-height);
    background: transparent;
}

.BannerNamePlate img {
    width: 150px;
    margin-left: calc(50% - (150px / 2));
}

.BannerNamePlate p {
    background: transparent;
    text-align: center;
    text-shadow: 0px 0px 10px black;
}

.BannerNamePlate .NamePlateName {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 3px;
}

.BannerNamePlate .NamePlateTag {
    font-weight: bold;
    color: #f0f0f0;
}