/*This file is for only the home page*/

#ShoutoutPane {
    margin-top: 5px;
    height: calc(100% - 33px);
    gap: 10px;
}

#ShoutoutPaneBox {
    box-shadow: 0px 0px 4px 0px gold;
}

#ShoutoutPaneBox img {
    height: 100%;
    padding: 10px;
    filter: drop-shadow(0px 0px 5px black);
    border-right: 1px dotted white;
    margin-right: 10px;
}

#ShoutoutPaneBox h2 {
    text-decoration: underline;
}