/*This file is for only for software pages*/


#SoftwareDivider {
    height: 75px;
    display: flex;
    justify-content: end;
}

#SoftwareExplinationDictionary {
    height: 40px;
    box-shadow: 0px 0px 10px 1px black;
    padding: 4px;
    display: flex;
    gap: 5px;
}

#SoftwareExplinationDictionary p {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
}

#SoftwareExplinationDictionary button {
    height: 100%;
    width: 100px;
    background: linear-gradient(180deg, var(--blue-button-top-top-color) 0%, var(--blue-button-top-mid-color) 40%, var(--blue-button-bot-mid-color) 40%, var(--blue-button-bot-bot-color) 100%);
    border: 2px solid var(--blue-button-bor-all-color);
    border-top: 2px solid white;
    border-bottom: 3px solid var(--blue-button-bor-bot-color);
    border-radius: 5px;
    transition: all .1s;
}

#SoftwareExplinationDictionary button:hover {
    background: linear-gradient(180deg, cyan 0%, var(--blue-button-top-mid-color) 40%, var(--blue-button-top-mid-color) 40%, cyan 100%);
    border: 2px solid white;
    border-bottom: 3px solid white;
    box-shadow: 0px 0px 10px 0px cyan;
}

#DownloadButton {
    margin: 10px;
    height: calc(100% - 20px);
    width: 250px;
    background: linear-gradient(180deg, var(--download-button-top-top-color) 0%, var(--download-button-top-mid-color) 40%, var(--download-button-bot-mid-color) 40%, var(--download-button-bot-bot-color) 100%);
    border: 2px solid var(--download-button-bor-all-color);
    border-top: 2px solid white;
    border-bottom: 3px solid var(--download-button-bor-bot-color);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px var(--topbar-sha-color);
    font-weight: bold;
    font-size: large;
    transition: all .1s;
}

#DownloadButton:hover {
    background: linear-gradient(180deg, lime 0%, var(--download-button-top-mid-color) 40%, var(--download-button-top-mid-color) 40%, lime 100%);
    border: 2px solid white;
    border-bottom: 3px solid white;
    box-shadow: 0px 0px 10px 0px lime;
}

.StatusInfo {
    width: 250px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#Inactive {
    background: linear-gradient(90deg, maroon, transparent);
}

#Active {
    background: linear-gradient(90deg, green, transparent);
}

.DownloadInfo {
    margin: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.DownloadInfo img, .StatusInfo img {
    height: 40px;
    filter: drop-shadow(0px 0px 2px black);
}

.Info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Info .InfoStat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#SoftwarePageColumns {
    min-height: calc(100vh - 375px);
}


.ExplinationHeader {
    text-indent: 30px;
    padding: 10px 0px 10px 0px;
    background: linear-gradient(90deg, var(--brand-color), transparent);
}

.InfoRow {
    padding: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    max-width: 70%;
    margin-left: 15%;
}

.InfoRow img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-top: 1px solid white;
    border-bottom: 2px solid gray;
    box-shadow: 0px 2px 5px 1px #00000077;
}