/*This file is for only for subpages (games, software, etc)*/

.SoftwareBanner {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: end;
    padding: 5px;
    height: 135px;
    background: linear-gradient(180deg, var(--blue-button-top-top-color) 0%, var(--blue-button-top-mid-color) 62%, var(--blue-button-bot-mid-color) 62%, var(--blue-button-bot-bot-color) 100%);
    border: 2px solid var(--blue-button-bor-all-color);
    border-bottom: 2px solid var(--blue-button-bor-bot-color);
    font-size: 35px;
    text-shadow: 0px 0px 10px black;
}

.SoftwareBannerStreaks {
    width: 100%;
    height: 100vh;
    margin: -5px;
    position: absolute;
    opacity: 50%;
}

#DedicatedPageColumns {
    min-height: calc(100vh - 170px);
}

#DedicatedPageNews p {
    padding: 15px;
}

.SoftwareBannerImg {
    height: 75px;
    background: transparent;
    z-index: 1;
}

#PrioritySoftwareButton {
    margin: 5px;
    max-width: 500px;
    border: 1px solid var(--topbar-bor-color);
    background: linear-gradient(180deg, white 50%, var(--topbar-top-bot-color) 100%);
    box-shadow: 0px 4px 5px 0px lightgray;
    border-radius: 5px;
}

#PrioritySoftwarePane {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3px;
}

#PSoftwarePane .Image {
    height: 140px;
    padding: 10px;
    filter: drop-shadow(0px 0px 5px black);
    border-right: 1px dotted white;
    margin-right: 10px;
}

#PSoftwarePane h2 {
    text-decoration: underline;
}

#PSoftwarePane .ShoutoutPaneBoxText {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.SoftwareInfo {
    width: 60%;
    height: 45px;
    display: flex;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}

#SoftwareInfo {
    width: 50%;
}

#SoftwareInfo img {
    height: 70%;
    filter: drop-shadow(0px 0px 5px black);
}