/*The purpose of this file is to hold topar related css*/

.Topbar {
    width: 100%;
    background: linear-gradient(180deg, var(--topbar-top-top-color) 0%, var(--topbar-top-bot-color) 35%, var(--topbar-mid-color) 35%, var(--topbar-mid-color) 90%, var(--topbar-bot-color) 100%);
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 1px var(--topbar-sha-color);
    border-bottom: 1px solid lightgray;
    position: fixed;
    z-index: 100;
    height: var(--topbar-height);
    display: flex;
}

.TopbarBlurBox {
    display: flex;
    backdrop-filter: blur(3px);
    height: 100%;
    width: 100%;
}

.TopbarBlurGradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(#15111a 30%, transparent 100%);
    position: absolute;
}

.TopbarContent {
    z-index: 100;
    background: linear-gradient(180deg, var(--topbar-top-top-color) 0%, var(--topbar-top-bot-color) 50%, var(--topbar-mid-color) 50%, var(--topbar-mid-color) 80%, var(--topbar-bot-color) 100%);
    display: flex;
    width: 100%;
    height: 100%;
}

.TopbarBranding {
    display: flex;
    align-items: center;
    padding: 2px;
    padding-left: 4px;
    width: 150px;
    height: 100%;
    border-radius: 0px 12px 12px 0px;
    border: 1px solid gray;
    background: linear-gradient(white, var(--brand-color) 50%, #000 50%, var(--brand-color));
    box-shadow: 0px 0px 2px 1px #00000077;
    transition: all .1s;
}

.TopbarBranding img {
    height: 100%;
    margin-right: 5px;
    filter: drop-shadow(0px 0px 5px black);
}

.TopbarBranding h3 {
    text-shadow: 0px 0px 5px black;
}

.TopbarBranding:hover {
    background: linear-gradient(white, #7358bd 50%, var(--brand-color) 50%, white);
    box-shadow: 0px 0px 5px 2px var(--brand-color);
}

.TopbarButtonPanel {
    margin: 5px 5px 0px 5px;
    flex: 1;
    gap: 5px;
    display: flex;
    justify-content: center;
    height: calc(100% - 5px);
}

#AboutButtonPanel {
    margin: 5px 0px 0px 0px;
    padding: 0px 5px 0px 0px;
    display: flex;
    justify-content: right;
    width: 150px;
    height: calc(100% - 5px);
}

#TopbarButtonContainer {
    display: flex;
}

.TopbarButton {
    background: transparent;
    height: 100%;
    width: 110px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid var(--topbar-bot-color);
    box-shadow: 0px -1px 1px 1px #00000077;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
    transition: all .1s;
}

.TopbarButton:hover {
    background: linear-gradient(cyan, #1670c4 43%, #043399 43%, var(--blue-button-top-mid-color));
    border: 1px solid white;
    box-shadow: 0px 0px 5px 1px cyan;
}

.TopbarButtonDropdown img {
    height: 150%;
}

#TopbarAboutButton {
    border: 0px;
    border-radius: 0px;
    border: 1px solid var(--topbar-bot-color);
}

#TopbarAboutButton:hover {
    background: linear-gradient(cyan, #1670c4 50%, #043399 50%, var(--blue-button-top-mid-color));
    border: 1px solid white;
    box-shadow: 0px 0px 3px 1px var(--topbar-sha-color);
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 0px 5px 1px cyan;
}

#GamesRecolor {
    filter: hue-rotate(-90deg);
}

#MiscRecolor {
    filter: hue-rotate(-270deg);
}

#ContactRecolor {
    filter: hue-rotate(-180deg);
}