/* The only purpose of this file is to hold variables*/

:root {
    --brand-color: #542ebb;

    --topbar-top-top-color: #64606869;
    --topbar-top-bot-color: #40354469;
    --topbar-mid-color: #30293569;
    --topbar-bot-color: #75587c69;
    --topbar-bor-color: #b6bccc;
    --topbar-sha-color: #0f0f0f;

    --topbar-height: 40px;
    --sidebar-width: 200px;
    --statusbar-height: 55px;

    --sidebar-color: #251c35;
    --sidebar-high-color: #2d2142;

    --statusbar-color: #f1f5fb;
    
    --blue-button-top-top-color: #498ac5;
    --blue-button-top-mid-color: #2d66b1;
    --blue-button-bot-mid-color: #1a4188;
    --blue-button-bot-bot-color: #409acf;
    --blue-button-bor-all-color: #7eacd7;
    --blue-button-bor-bot-color: #5278c3;
    
    --download-button-top-top-color: #64fc64;
    --download-button-top-mid-color: #26962c;
    --download-button-bot-mid-color: #155e13;
    --download-button-bot-bot-color: #00ff0d;
    --download-button-bor-all-color: #b6ffb6;
    --download-button-bor-bot-color: #158b11;

    --gray-button-top-color: #dbebff;
    --gray-button-bot-color: #c9d5e7;
    --gray-button-bor-color: #b0bcdd;


    --pane-top-top-color: #463869aa;
    --pane-top-bot-color: #2b243aaa;
    --pane-mid-color: #231f2eaa;
    --pane-bot-color: #34265aaa;

}