@font-face {
    font-family: Win7;
    src: url(Resources/Win7.ttf);
}

::-webkit-scrollbar {
  display: none;
}

:root {
    --brand-color: #542ebb;

    --topbar-top-top-color: #66666688;
    --topbar-top-bot-color: #3d3d4288;
    --topbar-mid-color: #2b2c3088;
    --topbar-bot-color: #6d728088;
    --topbar-bor-color: #b6bccc;
    --topbar-sha-color: #0f0f0f;

    --topbar-height: 40px;
    --sidebar-width: 200px;
    --statusbar-height: 55px;

    --sidebar-color: #251c35;
    --sidebar-high-color: #2d2142;

    --statusbar-color: #f1f5fb;
    
    --blue-button-top-top-color: #498ac5;
    --blue-button-top-mid-color: #2d66b1;
    --blue-button-bot-mid-color: #1a4188;
    --blue-button-bot-bot-color: #409acf;
    --blue-button-bor-all-color: #7eacd7;
    --blue-button-bor-bot-color: #5278c3;
    
    --download-button-top-top-color: #64fc64;
    --download-button-top-mid-color: #26962c;
    --download-button-bot-mid-color: #155e13;
    --download-button-bot-bot-color: #00ff0d;
    --download-button-bor-all-color: #b6ffb6;
    --download-button-bor-bot-color: #158b11;

    --gray-button-top-color: #dbebff;
    --gray-button-bot-color: #c9d5e7;
    --gray-button-bor-color: #b0bcdd;


    --pane-top-top-color: #463869aa;
    --pane-top-bot-color: #2b243aaa;
    --pane-mid-color: #231f2eaa;
    --pane-bot-color: #34265aaa;

}

* {
    background: transparent;
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: Win7;
    text-decoration: none;
    box-sizing: border-box;
    
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -ms-overflow-style: none;
    scrollbar-width: none;

    scroll-behavior: smooth;
}

a, p, li {
    background: transparent;
}

button, a {
    cursor: pointer;
}

.Topbar {
    width: 100%;
    height: 19px;
    background: linear-gradient(180deg, var(--topbar-top-top-color) 0%, var(--topbar-top-bot-color) 35%, var(--topbar-mid-color) 35%, var(--topbar-mid-color) 90%, var(--topbar-bot-color) 100%);
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 1px var(--topbar-sha-color);
    border-bottom: 1px solid lightgray;
}

#SiteTopbar {
    position: fixed;
    z-index: 100;
    height: var(--topbar-height);
    display: flex;
}

.TopbarBlurBox {
    display: flex;
    backdrop-filter: blur(3px);
    height: 100%;
    width: 100%;
}

.TopbarBlurGradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(black 30%, transparent 100%);
    position: absolute;
}

.TopbarContent {
    z-index: 100;
    background: linear-gradient(180deg, var(--topbar-top-top-color) 0%, var(--topbar-top-bot-color) 50%, var(--topbar-mid-color) 50%, var(--topbar-mid-color) 80%, var(--topbar-bot-color) 100%);
    display: flex;
    width: 100%;
    height: 100%;
}

.TopbarBranding {
    display: flex;
    align-items: center;
    padding: 2px;
    width: 250px;
    height: 100%;
    background: linear-gradient(90deg, var(--brand-color) 0%, #00000000 100%);
}

.TopbarBranding img {
    height: 100%;
    margin-right: 5px;
    filter: drop-shadow(0px 0px 5px black);
}

.HomeReminder {
    width: 300px;
    background: linear-gradient(180deg, var(--pane-top-top-color) 0%, var(--pane-top-bot-color) 50%, var(--pane-mid-color) 50%, var(--pane-mid-color) 80%, var(--pane-bot-color) 100%);
    border: 1px solid white;
    border-radius: 0px 0px 10px 0px;
    padding: 5px;
    position: absolute;
    top: var(--topbar-height);
    left: -1200px;
    transition: all 2s;
    box-shadow: 0px 0px 10px 0px var(--brand-color);
}

.TopbarContent:hover .HomeReminder {
    left: 0px;
}

.TopbarButtonPanel {
    margin: 5px 5px 0px 5px;
    flex: 1;
    gap: 5px;
    display: flex;
    justify-content: center;
    height: calc(100% - 5px);
}

#AboutButtonPanel {
    margin: 5px 0px 0px 0px;
    padding: 0px 5px 0px 0px;
    display: flex;
    justify-content: right;
    width: 250px;
    height: calc(100% - 5px);
}

#TopbarButtonContainer {
    display: flex;
}

.TopbarButton {
    background: transparent;
    height: 100%;
    width: 110px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid var(--topbar-bot-color);
    font-weight: bold;
    padding: 0px 20px 0px 20px;
    box-shadow: 0px -1px 1px 1px #00000077;
    transition: all .1s;
}

.TopbarButton:hover {
    background: linear-gradient(cyan, #1670c4 43%, #043399 43%, var(--blue-button-top-mid-color));
    border: 1px solid white;
    box-shadow: 0px 0px 5px 1px cyan;
}

.TopbarButtonDropdown img {
    height: 150%;
}

#TopbarAboutButton {
    border: 0px;
    border-radius: 0px;
    border: 1px solid var(--topbar-bot-color);
}

#TopbarAboutButton:hover {
    background: linear-gradient(cyan, #1670c4 50%, #043399 50%, var(--blue-button-top-mid-color));
    border: 1px solid white;
    box-shadow: 0px 0px 3px 1px var(--topbar-sha-color);
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 0px 5px 1px cyan;
}

#GamesRecolor {
    filter: hue-rotate(-90deg);
}

#MiscRecolor {
    filter: hue-rotate(-270deg);
}

#ContactRecolor {
    filter: hue-rotate(-180deg);
}

/* ---------------------------- PAGE CSS DIFFERENCES ---------------------------- */

/* ------------- Home -------------*/

#Home {
    display: flex;
    flex-direction: column;
}

.HomeBanner {
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.HomeBanner img {
    width: 100%;
    filter: drop-shadow(0px 0px 5px black);
}

.HomeBannerGlass {
    position: absolute;
    mask: radial-gradient(circle, transparent, black 80%);
}


.HomeBannerAnimation {
    margin-top: calc(var(--topbar-height) * 2.3);
    position: absolute;
    width: 100%;
    height: inherit;
}

.AnimationRow {
    display: flex;
    width: 100%;
    height: 25%;
    margin: 5px 0px 8px 0px;
}

.AnimationBox {
    position: absolute;
    height: inherit;
    aspect-ratio: 1 / 1;
    background: #00007730;
    backdrop-filter: blur(3px);
    box-sizing: border-box;
    border: 1px solid var(--topbar-bor-color);
    border-radius: 15px;
}

.AnimationBox img {
    width: 100%;
    padding: 5px;
}

@keyframes AnimationFade {
  0% {background: #881a1a;}
  25% {background: #1a883f;}
  50% {background: #1a4188;}
  75% {background: #88741a;}
  100% {background: #881a1a;}
}

.HomeBannerContent {
    position: absolute;
    width: 100%;
    height: inherit;
    mask: radial-gradient(circle, black 15%, #00000011 50%, #00000077 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: AnimationFade;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

.HomeBannerNamePlate {
    margin-top: var(--topbar-height);
    background: transparent;
}

.HomeBannerNamePlate img {
    width: 150px;
    margin-left: calc(50% - (150px / 2));
}

.HomeBannerNamePlate p {
    background: transparent;
    text-align: center;
    text-shadow: 0px 0px 10px black;
}

.HomeBannerNamePlate .NamePlateName {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 3px;
}

.HomeBannerNamePlate .NamePlateTag {
    font-weight: bold;
    color: #f0f0f0;
}

.SiteBody {
    box-sizing: border-box;
    overflow-x: auto;
    display: flex;
}

.RightColumn {
    width: calc(100% - 400px);
}

#ShoutoutPane {
    margin-top: 5px;
    height: calc(100% - 33px);
    gap: 10px;
}

#ShoutoutPaneBox {
    box-shadow: 0px 0px 4px 0px gold;
}

#ShoutoutPaneBox img {
    height: 100%;
    padding: 10px;
    filter: drop-shadow(0px 0px 5px black);
    border-right: 1px dotted white;
    margin-right: 10px;
}

#ShoutoutPaneBox h2 {
    text-decoration: underline;
}



.HomeRightColumnLeft {
    width: 50%;
    margin: 0px 15px 0px 15px;
}

.HomeRightColumnRight {
    width: 50%;
    margin: 0px 15px 0px 0px;
}

#SoftwarePane {
    height: 140px;
}

#SoftwarePane img {
    height: 100%;
    padding: 10px;
    filter: drop-shadow(0px 0px 5px black);
    border-right: 1px dotted white;
    margin-right: 10px;
}

#SoftwarePane h2 {
    text-decoration: underline;
}


.NewsPane {
    height: 100%;
    width: 400px;
    background: linear-gradient(240deg, var(--sidebar-color) 10%, var(--sidebar-high-color) 11%, var(--sidebar-color) 20%, var(--sidebar-color) 40%, var(--sidebar-high-color) 41%, var(--sidebar-color) 60%, var(--sidebar-color) 95%, var(--sidebar-high-color) 96%);
    border-right: 1px solid lightgray;
    box-shadow: 0px 10px 10px 0px var(--topbar-sha-color);
    display: flex;
    flex-direction: column;
}

.NewsPane h1 {
    background: linear-gradient(90deg, #000000aa, transparent);
    padding: 7px;
}

.NewsPaneDivider {
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, lightgray, transparent);
}

.NewsPane .NewsPointers {
    padding: 5px;
}

.NewsPane li {
    margin-left: 15px;
    padding: 5px;
    border-bottom: 1px dotted var(--brand-color);
}


.SoftwareButton {
    display: flex;
    width: 100%;
}

.SoftwareButton img {
    margin: 5px;
    height: 90px;
    background: transparent;
}

.SoftwareButtonText {
    padding: 7px;
    width: 100%;
    background: transparent;
    border-left: 3px dotted var(--topbar-bor-color);
    border-bottom: 1px dotted var(--topbar-bor-color);
}

.SoftwareButtonTitle {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
}

/* ------------- Software -------------*/

.SoftwareBanner {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: end;
    padding: 5px;
    height: 135px;
    background: linear-gradient(180deg, var(--blue-button-top-top-color) 0%, var(--blue-button-top-mid-color) 62%, var(--blue-button-bot-mid-color) 62%, var(--blue-button-bot-bot-color) 100%);
    border: 2px solid var(--blue-button-bor-all-color);
    border-bottom: 2px solid var(--blue-button-bor-bot-color);
    font-size: 35px;
    text-shadow: 0px 0px 10px black;
}

.SoftwareBannerStreaks {
    width: 100%;
    height: 100vh;
    margin: -5px;
    position: absolute;
    opacity: 50%;
}

#DedicatedPageColumns {
    min-height: calc(100vh - 170px);
}

#DedicatedPageNews p {
    padding: 15px;
}

.SoftwareBannerImg {
    height: 75px;
    background: transparent;
    z-index: 1;
}

#PrioritySoftwareButton {
    margin: 5px;
    max-width: 500px;
    border: 1px solid var(--topbar-bor-color);
    background: linear-gradient(180deg, white 50%, var(--topbar-top-bot-color) 100%);
    box-shadow: 0px 4px 5px 0px lightgray;
    border-radius: 5px;
}

#PrioritySoftwarePane {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

/* ------------- Contact -------------*/

#Contact {
    padding-bottom: 10px;
}

/* ------------- Focused Software -------------*/


#SoftwareDivider {
    height: 75px;
    display: flex;
    justify-content: end;
}

#SoftwareExplinationDictionary {
    height: 40px;
    box-shadow: 0px 0px 10px 1px black;
    padding: 4px;
    display: flex;
    gap: 5px;
}

#SoftwareExplinationDictionary p {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
}

#SoftwareExplinationDictionary button {
    height: 100%;
    width: 100px;
    background: linear-gradient(180deg, var(--blue-button-top-top-color) 0%, var(--blue-button-top-mid-color) 40%, var(--blue-button-bot-mid-color) 40%, var(--blue-button-bot-bot-color) 100%);
    border: 2px solid var(--blue-button-bor-all-color);
    border-top: 2px solid white;
    border-bottom: 3px solid var(--blue-button-bor-bot-color);
    border-radius: 5px;
    transition: all .1s;
}

#SoftwareExplinationDictionary button:hover {
    background: linear-gradient(180deg, cyan 0%, var(--blue-button-top-mid-color) 40%, var(--blue-button-top-mid-color) 40%, cyan 100%);
    border: 2px solid white;
    border-bottom: 3px solid white;
    box-shadow: 0px 0px 10px 0px cyan;
}

#DownloadButton {
    margin: 10px;
    height: calc(100% - 20px);
    width: 250px;
    background: linear-gradient(180deg, var(--download-button-top-top-color) 0%, var(--download-button-top-mid-color) 40%, var(--download-button-bot-mid-color) 40%, var(--download-button-bot-bot-color) 100%);
    border: 2px solid var(--download-button-bor-all-color);
    border-top: 2px solid white;
    border-bottom: 3px solid var(--download-button-bor-bot-color);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px var(--topbar-sha-color);
    font-weight: bold;
    font-size: large;
    transition: all .1s;
}

#DownloadButton:hover {
    background: linear-gradient(180deg, lime 0%, var(--download-button-top-mid-color) 40%, var(--download-button-top-mid-color) 40%, lime 100%);
    border: 2px solid white;
    border-bottom: 3px solid white;
    box-shadow: 0px 0px 10px 0px lime;
}

.DownloadInfo {
    margin: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.DownloadInfo img {
    height: 40px;
    filter: drop-shadow(0px 0px 2px black);
}

.DownloadInfo .Info {
    display: flex;
    gap: 10px;
}

.DownloadInfo .Info .InfoStat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#SoftwarePageColumns {
    min-height: calc(100vh - 375px);
}


.ExplinationHeader {
    text-indent: 30px;
    padding: 10px 0px 10px 0px;
    background: linear-gradient(90deg, var(--brand-color), transparent);
}

.InfoRow {
    padding: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    max-width: 70%;
    margin-left: 15%;
}

.InfoRow img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-top: 1px solid white;
    border-bottom: 2px solid gray;
    box-shadow: 0px 2px 5px 1px #00000077;
}

/* ------------------------------------------------------------------------------ */

.Pane {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 8px;
    background: linear-gradient(180deg, var(--pane-top-top-color) 0%, var(--pane-top-bot-color) 50%, var(--pane-mid-color) 50%, var(--pane-mid-color) 60%, var(--pane-bot-color) 100%);
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 1px #00000077;
}

.Subpane {
    min-width: 500px;
    margin: 4px;
    border-radius: 3px;
    border: 1px solid white;
    background: linear-gradient(90deg, var(--brand-color), #000000);
    padding: 5px;
    display: flex;
    box-shadow: 0px 2px 5px 1px #00000077;
}

.ContentScrollX {
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}

.SiteBodyDivider {
    background: red;
    height: 35px;
    background: linear-gradient(180deg, var(--pane-top-top-color) 0%, var(--pane-top-bot-color) 50%, var(--pane-mid-color) 50%, var(--pane-mid-color) 60%, var(--pane-bot-color) 100%);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.BodyContent {
    min-height: 100vh;
    background: radial-gradient(circle at top, var(--brand-color), #1e162c);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.SiteColumns {
    width: 100%;
    display: flex;
    min-height: calc(100vh - 335px);
}

.Sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    height: calc(100vh - var(--topbar-height));
    background: linear-gradient(240deg, var(--sidebar-color) 10%, var(--sidebar-high-color) 11%, var(--sidebar-color) 20%, var(--sidebar-color) 40%, var(--sidebar-high-color) 41%, var(--sidebar-color) 60%, var(--sidebar-color) 95%, var(--sidebar-high-color) 96%);
    border-right: 1px solid var(--topbar-bor-color);
    overflow: hidden;
}

.SidebarPattern {
    position: absolute;
    height: 100%;
    bottom: 0px;
    mask: linear-gradient(180deg, transparent, black);
    opacity: 5%;
    pointer-events: none;
}

.Divider {
    text-align: left;
    width: calc(100% - 5px);
    margin: 0px 4px 2px 0px;
    padding: 5px;
    background: linear-gradient(180deg, var(--blue-button-top-top-color) 0%, var(--blue-button-top-mid-color) 40%, var(--blue-button-bot-mid-color) 40%, var(--blue-button-bot-bot-color) 100%);
    border: 2px solid var(--blue-button-bor-all-color);
    border-bottom: 2px solid var(--blue-button-bor-bot-color);
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    transition: all .4s;
}

.Divider:hover {
    background: linear-gradient(180deg, #409acf 0%, #4079cf 40%, var(--blue-button-top-mid-color) 40%, #53e5ff 100%);
    box-shadow: 0px 0px 20px 0px cyan;
}

.Divider:active {
    background: linear-gradient(180deg, var(--blue-button-top-top-color) 0%, var(--blue-button-top-mid-color) 40%, var(--blue-button-bot-mid-color) 40%, var(--blue-button-bot-bot-color) 100%);
}


.Divider img {
    background: transparent;
    margin: 0px 4px 0px 7px;
}


.SidebarButton {
    box-sizing: border-box;
    width: calc(100% - 4px);
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    padding: 5px 5px 5px 20px;
    margin: 2px;
    display: flex;
    align-items: center;
}

#SidebarButtonActive {
    box-sizing: border-box;
    width: calc(100% - 4px);
    border: 1px solid var(--gray-button-bor-color);
    border-radius: 3px;
    background: linear-gradient(180deg, var(--gray-button-top-color) 45%, var(--gray-button-bot-color) 50%);
    padding: 5px 5px 5px 20px;
    margin: 2px;
    display: flex;
    align-items: center;
}

.SidebarButton:hover {
    background: linear-gradient(180deg, var(--gray-button-top-color) 45%, var(--gray-button-bot-color) 50%);
    border: 1px solid var(--gray-button-bor-color);
}

.SidebarButton:active {
    background: transparent;
}

.SidebarButton img {
    background-color: transparent;
    margin-right: 7px;
    height: 20px;
}